<form [formGroup]="this.animeForm" (ngSubmit)="onFormSubmit()">
  <div>{{localTitle}}</div>
  <ng-container *ngIf="!this.isLoading; else spinner">
    <h2>Add anime</h2>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Anime name</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [formControl]="this.animeForm.controls.anime_name"
        [matAutocomplete]="auto"
        ngFormControl="anime_name">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <div *ngIf="filteredOptions$ | async as filteredOptions; else spinner">
          <div *ngFor="let anime of filteredOptions">
            <mat-option [value]="anime">
              {{anime.name}}
            </mat-option>
          </div>
        </div>
      </mat-autocomplete>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="accept-form-button"> Add anime </button>
  </ng-container>
</form>

<ng-template #spinner>
  <mat-progress-spinner
    color="blue"
    mode="indeterminate"
  ></mat-progress-spinner>
</ng-template>
