<div class="anime-selection-list">

  <div class="anime-selection-list-button">
    <app-add-anime-button [label]="this.addAnimeButtonLabel" (animeAddedClicked)="addAnime()"></app-add-anime-button>
    <app-add-anime-button [label]="this.addCategoryButtonLabel" (animeAddedClicked)="addCategory()"></app-add-anime-button>
    <app-add-anime-button [label]="this.addTypeButtonLabel" (animeAddedClicked)="addType()"></app-add-anime-button>
  </div>

  <div class="anime-selection-list-elements">
    <div *ngIf="animes$ | async as animes">
      <div *ngFor="let anime of animes">
        <app-anime (animeDeleteClicked)="deleteAnime($event)" [anime]="anime" [delete_visible]="true"></app-anime>
      </div>
    </div>
  </div>

  <app-show-recommendations-button (showRecommendationsClicked)="showRecommendations()" ></app-show-recommendations-button>

</div>
