div.anime-selection-list {
  padding: 20px;
  width: 45%;
  float: left;
}

div.anime-selection-list-button {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

div.anime-selection-list-elements {
  width: 100%;
}
